@import "base";
@import "./aaa/aaa.scss";

body{
    color: #666;
}
.weui-cell:before{
    left:0;
}
.app-list{
    .weui-cells{
        margin-top: 0;
    }
    .weui-cells{
        color:#666;
    }
}
.list-top{
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    color:#333;
    padding: 0 15px;
    background: #fff;
}
.app-list-con{
    background: #fff;
    margin-bottom: 5px;
    border-bottom: 1px solid $line-color;
    .can{
        margin-top: 30px;
        padding: 0 15px;
        line-height: 40px;
    }
}
.confirmButton{
    padding: 15px 15px;
}
