@import 'caret';
$color: #ff6c00;
$borderColor: #efefef;
// 头尾公共样式
.good-header {
    background-color: #FFF;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    span {
        flex: 1;
        text-align: center;
    }
}

.go-back {
    margin-left: 15px;
    top: 15px;
    @include caret(absolute, 10px, 1px, left, #404040, #fff);
}

.good-detail {
    padding-top: 50px;
    padding-bottom: 50px;
}

.good-banner {
    width: 100%;
    overflow: hidden;
    height: 320px;
    img {
        width: 100%;
        height: 320px;
    }
}

@media screen and (max-width:640px) {
    .page-banner {
        height: 375px;
        img {
            height: 375px;
        }
    }
}

