@import "base";

@mixin flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
//content style

.content{
    height: 100%;
    padding:{
        bottom: 50px;
    }
    background-color: #fff;
    .bg{
        width: 100%;
        background: url(../images/bg.jpg) no-repeat center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .head-top{
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            margin: {
                top: 20px;
                bottom: 10px;
            }
            .avatar{
                display: block;
                width: 45px;
                height: 45px;
                background-color: #fff;
                border-radius: 50%;
                margin: 10px auto;
                
            }
            .people-name{
                width: 100%;
                font-size: 16px;
                color: #fff;
                line-height: 20px;             
                span{
                    &:first-of-type{
                        padding: {
                            left: 10px;
                            right: 5px;
                        }
                    }
                    
                }
            }
        }
        .account{
            display: flex;
            width: 100%;
            height: 60px;
            align-items: center;
            background: rgba(0,0,0,.3);
            .account-balance{
                flex: 1;
                font-size: 16px;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 20px;
                &:first-of-type{
                    border-right: 1px solid #fff;
                }
                span{
                    display: block;
                    &:last-of-type{
                        font-size: 14px;
                        
                    }
                }
            }
            
        }
    }
   .order{
       display: flex;
       height: 50px;
       background-color: #fff;
       align-items: center;
       border-bottom: 1px solid #eee;
       .my-order{
           flex: 0 0 66%;
           font-size: 16px;
           color: #666;
           @media screen and (min-width:375px){
               flex: 0 0 72%;
           }
           .order-icon{
               display: inline-block;
               width: 30px;
               height: 30px;
               background: url(../images/my_order.png) no-repeat center;
               vertical-align: middle;
               margin: 0 3%;
           }
       }
       .view-all{
          flex: 0 0 34%;
           font-size: 14px;
           .arrow{
               display: inline-block;
               width: 16px;
               height: 16px;
               background: url(../images/arrow.png) no-repeat center;
               vertical-align: middle;
               margin: 0 1%;
           }
       }
   }
    .payment{
       @include flexBox;
        height: 78px;
        border-bottom: 1px solid #eee;
        .await{
            flex: 1;
             @include flexBox;
             flex-direction: column;
             &:first-of-type{
                 border-right: 1px solid #eee;
             }
             &:last-of-type{
                 border-left: 1px solid #eee;
             }
            img{
                display: block;
                height: 30px;
            }
            span{
                font-size: 14px;
                color: #666;
                line-height: 26px;
            }
        }
    }
    .other-thing{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        
        .every-other{
            display: flex;
            height: 48px;
            align-items: center;
            border-bottom: 1px solid #eee;
            position: relative;
            span{
                font-size: 14px;
                color: #666;
                text-align: left;
            }
            i{
                display: inline-block;
                &:first-of-type{
                    margin: 0 2%;
                }
                &.address{                    
                    width: 32px;
                    height: 32px;
                    background: url(../images/address.png) no-repeat center;                 
                }
                &.vouchers{                    
                    width: 24px;
                    height: 24px;
                    background: url(../images/vouchers.png) no-repeat center;
                    margin-right:4%;
                }
                &.join{                    
                    width: 30px;
                    height: 30px;
                    background: url(../images/our.png) no-repeat center;
                    
                }
                &.arrow-icon{
                    position: absolute;
                    right: 3%;               
                    width: 16px;
                    height: 16px;
                    background: url(../images/arrow.png) no-repeat center;
                }
            }
            
        }
    }
}
