
$hd:#ff6c00;
$line-color:#ececec;


//单行文字省略
@mixin txt() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin txtmore($number){
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp:$number;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


.hd{
   width: 100%;
   height: 40px;
   line-height: 40px;
   background:$hd ; 
}

.hd-back{
    position: absolute;
    width: 40px;
    height: 44px;
    a{
        color:#fff;
        width: 100%;
        height: 100%x;
        line-height: 40px;
        font-size: 24px;
        text-align: center;
        display: block;
    }
}
.hd-title{
    margin: 0 50px;
    text-align: center;
    font-size: 16px;
    color:#fff;
}
















































